<launch>

    <param name="use_sim_time" value="true"/>
    <arg name="fssim_config" default="$(find fssim)/config/simulation.yaml"/>
    <arg name="track_name" default="FSG.sdf"/>
    
    <include file="$(find fssim)/launch/start.launch">
        <arg name="fssim_config" value="$(arg fssim_config)"/>
        <arg name="track_name" default="$(arg track_name)"/>
    </include>

    <include file="$(find fssim)/launch/rviz.launch"/>

    <include file="$(find fssim)/launch/msgs_convert.launch"/>
</launch>
