<?xml version="1.0"?>
<launch>
    <arg name="topics_conversion_config" default="$(find fssim)/config/topics_conversion.yaml"/>

    <node pkg="fssim" name="fssim_cmd_conversion_node" type="cmd_convert.py" output="screen">
        <param name="topics_conversion_config" value="$(arg topics_conversion_config)"/>
    </node>
    <node pkg="fssim" name="fssim_odometry_conversion_node" type="odometry_convert.py" output="screen">
        <param name="topics_conversion_config" value="$(arg topics_conversion_config)"/>
    </node>
</launch>
